.event{
    margin-top: 10px;
}
.event__content{
    width: 85%;
    margin: auto;
}
.event__heading{
    text-align: center;
    padding-bottom: 30px;
}
.event__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}
.event .card img{
    height: 55vh !important;
    object-fit: fill;
}