.welcome{
    margin-top: 250px;
}
.welcome__content{
    width: 40%;
    margin: auto;
}
.welcome__content h2,h5{
    padding: 5px 0px;
}
@media screen and (max-width:760px) {
    .welcome__content {
        width: 90%;
    }
}