.footer{
    margin-top: 30px;
    background-color: black;
    color: white;
}
.footer__content{
    width: 85%;
    margin: auto;
}
.footer__text{
    text-align: center;
}
@media screen and (max-width:760px){
   .footer__content{
    width: 95%;
   }
   .footer__text h2{
    font-size: 18px;
    padding: 5px;
   }
}