.signUp__background {
    background-color: var(--primary-color);
    padding: 30px;
    color: white;
    margin-bottom: 60px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.signUp__content {
    padding: 0px 10px;
    width: 75%;
    margin: auto;
}

.signUp__content form input {
    margin-bottom: 10px !important;
}
.signUp{
    margin-top: 50px;
}
.already{
    padding-top: 20px;
    text-align: center;
}
.already a{
    text-decoration: underline;
}
.password-strength{
    margin: 10px 0px;
    width: 0%;
    display: block;
    height: 7px;
    background: transparent;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.password-strength[data-score="null"]{
    width: 0;
    background-color: red;
}
.password-strength[data-score="0"] {
    width: 5%;
    background-color: #f44336;
}
.password-strength[data-score="1"] {
    width: 25%;
    background-color: #f44336;
}
.password-strength[data-score="2"] {
    width: 45%;
    background-color: #ffeb3b;
}
.password-strength[data-score="3"] {
    width: 70%;
    background-color: #19a44e;
}
.password-strength[data-score="4"] {
    width: 100%;
    background-color: rgb(9, 214, 9);
}
 
@media screen and (max-width:760px) {
    .signUp__content{
        width: 98%;
    }
    .signUp__content h2{
        font-size: 20px;
        padding-bottom: 15px;
        text-align: center;
    }
}