.box{
    margin-top: 40px;
}
.form{
    background-color: black;
    padding: 20px;
    color: white;
}
.form__content{
    width: 85%;
    margin: auto;
}
@media screen  and (max-width:760px){
    .form__content{
        width: 95%;
    }
    .form__content h2{
        font-size: 20px;
        padding-bottom: 10px;
        text-align: center;
    }
}